* {
  padding: 0px;
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 8px 0px;
  z-index: 9999;
}

nav .logo {
  font-size: 20px;
  font-weight: bold;
  color: rgb(9, 9, 100);
}

.nav__links ul {
  display: flex;
  list-style: none;
}

.nav__links ul li {
  margin-right: 15px;
}

.nav__links ul li a {
  text-decoration: none;
  color: rgb(41, 107, 194);
}

nav button {
  color: white;
  background-color: rgb(41, 107, 194);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

/* header */

.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url(./images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 10px;
}

.header .header__nav {
  background-color: rgb(41, 107, 194);
  padding: 10px;
}

.header__nav ul {
  display: flex;
  list-style: none;
  justify-content: right;
  align-items: center;
}

.header__nav ul li {
  margin-right: 15px;
}

.header__nav ul li a {
  text-decoration: none;
  color: white;
}

.header__nav input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 5px;
}

.header__content {
  margin: 150px;
  color: white;
}

.header__content p {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 25px;
}

.header__content h1 {
  font-size: 50px;
  text-transform: capitalize;
}

.btn__skyblue {
  background-color: rgb(41, 107, 194);
  color: white;
  padding: 20px 60px;
  outline: none;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 25px;
}

/* section two */

.section__two {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 20px 0px;
}

.section__two > div {
  width: 50%;
}

.section__two .right img {
  width: 100%;
  border-radius: 20px;
}

.section__two .left h3 {
  color: rgb(9, 9, 100);
  font-size: 50px;
  margin: 50px 0px;
}

.section__two .left p {
  margin-bottom: 20px;
  line-height: 30px;
}

.dark__blue {
  color: white;
  background-color: rgb(9, 9, 100);
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.dark__blue:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* section three */

.section__three {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 20px 0px;
}

.section__three .three__div {
  padding: 50px;
  background-color: rgb(43, 43, 211);
  color: white;
  margin: 10px 0px;
  border-radius: 10px;
  width: 20%;
}

.section__three .three__div h1 {
  font-size: 40px;
  width: 78%;
  text-align: center;
  padding: 0px 30px;
  text-transform: capitalize;
  line-height: 60px;
}

.section__three .three__div p {
  font-weight: lighter;
  line-height: 30px;
  margin-top: 30px;
  color: rgb(235, 233, 233);
}

.section__three .three__div button {
  background-color: rgb(255, 255, 255);
  color: black;
  outline: none;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  margin: auto;
  padding: 20px 30px;
}

.btn__div {
  width: 70%;
  margin: auto;
  margin-top: 140px;
  text-align: center;
}
.section__three .three__div button:hover {
  background-color: rgb(35, 21, 226);
  color: rgb(255, 255, 255);
}

#btn__div__s {
  margin-top: 60px;
}

/* section four */

.section__four {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.section__four > .left {
  width: 30%;
}

.section__four > .right {
  width: 70%;
}

.section__four .right img {
  width: 48%;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 200px;
}

.section__four .right img:first-child {
  width: 30%;
}

.section__four .right img:last-child {
  margin-right: 140px;
  width: 30%;
}

.section__four .right .right__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__four .left h1 {
  color: rgb(9, 9, 100);
  text-transform: capitalize;
  font-size: 40px;
  line-height: 60px;
}

.section__four .left p {
  line-height: 30px;
  margin: 40px 0px;
}

.section__five {
  background: linear-gradient(
      to right,
      rgba(25, 55, 219, 0.7),
      rgba(60, 14, 228, 0.7)
    ),
    url(./images/writing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 70px;
  align-items: center;
}

.section__five > div {
  width: 50%;
  color: white;
}

.section__five > div > img {
  width: 90%;
}

.section__five > .right h1 {
  font-size: 45px;
  text-transform: capitalize;
}

.section__five > .right p {
  line-height: 30px;
  margin: 40px 0px;
}

.section__six {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 20px auto;
  justify-content: space-between;
}

.section__six > div {
  width: 40%;
  margin-bottom: 20px;
}

.section__six .div__six {
  padding: 60px 50px;
  background-color: rgb(41, 107, 194);
  color: white;
  border-radius: 10px;
}

.section__six .div__six p {
  line-height: 30px;
  margin-bottom: 20px;
}

#id__six {
  padding: 20px 50px;
}

#id__six h1 {
  color: rgb(9, 9, 100);
  text-transform: capitalize;
  font-size: 40px;
  line-height: 60px;
}

#id__six p {
  line-height: 30px;
  margin: 20px 0px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: rgb(27, 86, 248);
  color: white;
  align-items: center;
}

footer .left {
  width: 30%;
}

footer .left img {
  width: 20%;
  height: 60px;

  border-radius: 50%;
  margin-bottom: 30px;
}

footer .right {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

footer .right > div {
  width: 33%;
}

footer .right > div h3 {
  margin-bottom: 30px;
  text-transform: capitalize;
}

footer .right > div p {
  line-height: 30px;
  text-transform: capitalize;
}

/* media query */

@media (max-width: 800px) {
  .nav__links ul {
    display: block;
  }

  .header__nav ul {
    justify-content: space-around;
  }

  .header__content {
    margin: 150px 50px;
  }

  .header__content h1 {
    font-size: 40px;
  }

  .btn__skyblue {
    padding: 20px 50px;
  }

  .header {
    height: 70vh;
  }

  .section__two {
    display: block;
  }

  .section__two > div {
    width: 100%;
  }

  .section__two .right img {
    margin-top: 20px;
  }

  .section__three {
    display: block;
  }

  .section__three .three__div {
    width: 90%;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
  }

  .section__three .three__div h1 {
    font-size: 25px;
    width: 100%;
    padding: 0px;
    line-height: 30px;
    margin-top: 20px;
  }

  .btn__div {
    margin-top: 80px;
  }
  #btn__div__s {
    margin-top: 0px;
  }

  .section__four {
    display: block;
  }

  .section__four > .left,
  .section__four > .right {
    width: 100%;
  }

  .section__four .right img,
  .section__four .right img:first-child {
    width: 100%;
    margin-top: 20px;
  }

  .section__four .right img:last-child {
    margin-right: 0px;
    width: 100%;
  }

  .section__five {
    display: block;
    padding: 10px;
  }

  .section__five > div {
    width: 100%;
  }

  .section__five > div > img {
    width: 100%;
  }
}
